<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>

    <i class="fa-regular fa-user"></i>

    <!-- Table with stripped rows -->
<table border="2">
    <thead>
        <tr>
            <th>
                <b>N</b>ame
            </th>
            <th >Apelido</th>
            <th>Morada</th>
            <th data-type="date" data-format="YYYY-MM-DD">Nascimento</th>

        </tr>
    </thead>
   
    {% for x in todos_pacientes %}
    <tr>
        <td>{{ x.nome }}</td>
        <td>{{ x.apelido }}</td>
        <td>{{ x.morada }}</td>
        <td>{{ x.data_nascimento }}</td>

    </tr>
    {% endfor %}

</table>
<!-- End Table with stripped rows -->

</body>
</html>

