<!DOCTYPE html>
<html lang="en">
    {% block titulo %}
    <title>Medico </title>
    {% endblock %}
    {% include 'base/head.html' %}

    <body>
        {% include 'base/navbar.html' %}
        {% include 'base/sidebar.html' %}

        <main id="main" class="main">

            <div class="pagetitle">
                <h1>Lista</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Clinica</a></li>
                        <li class="breadcrumb-item">Medicos</li>
                    </ol>
                    <a href="{% url 'ficha_paciente' %}">
                        <button type="button"  class="btn btn-outline-success" onclick="index.html"">Novo Medico</button>
                    </a>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body">

                                <!-- Table with stripped rows -->
                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <!-- <th>Editar</th>
                                            <th>Apagar</th> -->
                                        </tr>
                                    </thead>
                                    {% comment %} <h3>{{todos_medicos}}</h3>  {% endcomment %}
                                    {% for x in todos_medicos %}
                                    <tr>
                                        {% comment %} <td><a href="editar_ficha_paciente/{{x.id}}">{{ x.id }}</a></td> {% endcomment %}
                                        <td>{{ x.id }}</td>
                                        <td>{{ x.nome }}</td>
                                        <td><a href="editar_ficha_paciente/{{x.id}}"><i class="bi bi-pencil"></i></a>|<a href="eliminar_paciente/{{x.id}}"><i class="bi bi-trash3 text-danger"></i></a></i></td> 
                                    </tr>
                                    {% endfor %}

                                </table>
                                <!-- End Table with stripped rows -->

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main><!-- End #main -->

        <!-- Table with stripped rows -->

    </body>

    {% include 'base/footer.html' %}

</html>